@import "tailwindcss";

@theme {
  --color-app: #0b0b0b;
  --color-elevated: #141414;
  --color-muted: #b3b3b3;
  --color-accent: #e50914;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--color-app);
  color: #fff;
  font-family:
    system-ui,
    "Segoe UI",
    Roboto,
    sans-serif;
}

#root {
  min-height: 100svh;
}
